{% extends 'base.html.twig' %}

{% block title %}Confirm reset password{% endblock %}

{% block body %}
    <h2>Nouveau mot de passe</h2>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.code) }}

    <div class="row">
        <div class="col-6">
            <a class="btn btn-block btn-danger btn-lg" href="{{ path("app_login") }}"
               role="button">Cancel</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-block btn-success btn-lg">OK</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
