{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <form action="{{ path('app_login') }}" method="post">
                <div class="row">
                    <div class="col-12">
                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Identifiez-vous SVP !{% endtrans %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="inputEmail" class="sr-only">{% trans %}Email{% endtrans %}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               placeholder="{% trans %}Email{% endtrans %}" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="inputPassword" class="sr-only">{% trans %}Mot de passe{% endtrans %}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="{% trans %}Mot de passe{% endtrans %}"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-lg btn-block btn-primary" type="submit">
                            {% trans %}Connexion{% endtrans %}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                    <div class="col-auto">{% trans %}OU{% endtrans %}</div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Créez un compte{% endtrans %}</h1>
                        <p>{% trans %}Si vous n'avez pas de compte vous pouvez en créer un.{% endtrans %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <a class="btn btn-lg btn-block btn-primary" href="{{ path('app_signup') }}">
                            {% trans %}Inscription{% endtrans %}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                    <div class="col-auto">{% trans %}OU{% endtrans %}</div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Mot de passe perdu{% endtrans %}</h1>
                        <p>{% trans %}Demandez une réinitialisation de votre mot de passe{% endtrans %}.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <a class="btn btn-lg btn-block btn-primary" href="{{ path('app_reset_password') }}">
                            {% trans %}Réinitialisation du mot de passe{% endtrans %}
                        </a>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}
