{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h2>Reset du mot de passe</h2>
    <p>Confirmez votre adresse mail.</p>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}} ) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="row">
        <div class="col-6">
            <a class="btn btn-block btn-danger btn-lg" href="{{ path("app_login") }}"
               role="button">Cancel</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-block btn-success btn-lg">OK</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
