<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build//site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build//safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}dichipot{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('build/dichipot_icon_color.svg') }}" height="24" class="d-inline-block align-top"
             alt="dichipot">
        dichipot
    </a>
    <ul class="navbar-nav ml-auto">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="btn btn-block btn-light" href="{{ path('app_logout') }}"><i
                            class="fas fa-sign-out-alt fa-lg"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="btn btn-block btn-light" href="{{ path('app_login') }}"><i
                            class="fas fa-sign-in-alt fa-lg"></i></a>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% block body %}
    {% endblock %}
    <footer class="mt-3">
        <div class="row small border-top bg-light">
            <div class="col-12 col-sm-4 text-sm-left text-nowrap">Copyright © 2019 PhRazApp</div>
            <div class="col-12 col-sm-4 text-sm-center text-nowrap">
                <a href="https://github.com/PhRaz/compte">Available on Github <i class="fab fa-github"></i></a>
            </div>
            <div class="col-12 col-sm-4 text-sm-right"><a href="{{ path('cgu') }}">CGU dichipot.com</a></div>
        </div>
    </footer>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
