{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for userEvent in user.userEvents if user.userEvents|length > 0 %}
            {% set event = userEvent.event %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card mt-2 mb-2">
                    <div class="card-header">
                        <h4>{{ event.name }}</h4>
                    </div>
                    <div class="card-body shadow-sm">
                        <p class="lead">{{ event.description }}</p>
                        <div class="mb-4">
                            {% for userEvent2 in event.userEvents %}
                                {% set user2 = userEvent2.user %}
                                <p class="mb-0">{{ user2.name }}{% if userEvent2.administrator is same as(true) %} (administrateur){% endif %}</p>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-block btn-primary btn-sm"
                                   href="{{ path('event_add_user', {'eventId': userEvent.event.id, 'userId': user.id}) }}"
                                   role="button">+ participant</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-block btn-primary btn-sm"
                                   href="{{ path("operation_list", {'eventId': event.id}) }}" role="button">Opérations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>aucun évènement</p>
        {% endfor %}
    </div>
{% endblock body %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_list') }}">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('event_create', {'id': user.id}) }}">Créer un nouvel évènement</a>
    </li>
{% endblock %}
