{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <h2>Modification évènement</h2>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_widget(form.name, {'attr': {'placeholder': 'nom', 'autofocus': null}} ) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.description, {'attr': {'placeholder': 'description'}} ) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="userEvents" data-max-nb-participant="{{ maxNbParticipant }}" data-prototype="
            {% filter escape %}
                {{ include('addUserOnEvent.html.twig', { 'form': form.userEvents.vars.prototype }) }}
            {% endfilter %}">
                {% for index, userEvent in form.userEvents if form.userEvents|length > 0 %}
                    <div class="user">
                        <hr>
                        <div class="row">
                            <div class="col-1">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="col-11">
                                <div class="form-group">
                                    {{ form_widget(userEvent.pseudo, {'attr': {'placeholder': 'pseudo'}} ) }}
                                    {{ form_errors(userEvent.pseudo) }}
                                </div>
                                <div class="form-group">
                                    {% if form.vars.value.userEvents[index].administrator is same as (true) %}
                                        {{ form_widget(userEvent.user.mail, {'attr': {'placeholder': 'email', 'readonly': true}} ) }}
                                    {% else %}
                                        {{ form_widget(userEvent.user.mail, {'attr': {'placeholder': 'email'}} ) }}
                                    {% endif %}
                                    {{ form_errors(userEvent.user.mail) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% do form.userEvents.setRendered %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-6">
                    <a id="cancel" class="btn btn-block btn-danger btn-lg" href="{{ path("event_list") }}"
                       role="button">Annule</a>
                </div>
                <div class="col-6">
                    <button id="submit" type="submit" class="btn btn-block btn-success btn-lg">Enregistre</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
