{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des évènements de {{ user.name }}</h1>
    <ul>
        {% for userEvent in user.userEvents if user.userEvents|length > 0 %}
            {% set event = userEvent.event %}
            <h2>
                <a href="{{ path("operation_list", {'eventId': event.id}) }}">{{ event.name }}</a>: {{ event.description }}
            </h2>
            <p>Liste des participants de l'évènement :
            <ul>
                {% for userEvent2 in event.userEvents %}
                    {% set user2 = userEvent2.user %}
                    <li>{{ user2.name }}{% if userEvent2.administrator is same as(true) %} (administrateur){% endif %}</li>
                {% endfor %}
                <a href="{{ path('event_add_user', {'eventId': userEvent.event.id, 'userId': user.id}) }}">Ajouter un
                    participant</a>
            </ul>

            </p>
        {% else %}
            <p>aucun évènement</p>
        {% endfor %}
    </ul>
    <nav>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('user_list') }}">Liste des utilisateurs</a>
        <a href="{{ path('event_create', {'id': user.id}) }}">Créer un nouvel évènement</a>
    </nav>
{% endblock body %}
