{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-2">
            <div class="row">
                {% for userEvent in user.userEvents if user.userEvents|length > 0 %}
                    {% set event = userEvent.event %}
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card mt-2 mb-2">
                            <div class="card-header">
                                <div class="row">
                                    {% if userEvent.administrator is same as(true) %}
                                        <div class="col-9">
                                            <h4>{{ event.name }}</h4>
                                            <p>{{ event.date|date('d/m/y') }}</p>
                                        </div>
                                        <div class="col-3">
                                            <a class="btn btn-block btn-primary btn-sm"
                                               href="{{ path("event_update", {'eventId': event.id}) }}"
                                               role="button"><i class="fas fa-cog"></i></a>
                                        </div>
                                    {% else %}
                                        <div class="col-12">
                                            <h4>{{ event.name }}</h4>
                                            <p>{{ event.date|date('d/m/y') }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body shadow">
                                <p class="lead">{{ event.description }}</p>
                                <div class="mb-4">
                                    <table class="table table-sm table-borderless">
                                        {% for userEvent2 in event.userEvents %}
                                            <tr>
                                                <td>
                                                    {{ userEvent2.pseudo }}{% if userEvent2.administrator is same as(true) %} (administrateur){% endif %}
                                                </td>
                                                {% if balance[event.id][userEvent2.user.id] is defined %}
                                                    {% set value = balance[event.id][userEvent2.user.id]|number_format('2', ',', ' ') %}
                                                {% else %}
                                                    {% set value = 0|number_format('2', ',', ' ') %}
                                                {% endif %}
                                                {% if value >= 0 %}
                                                    {% set color = "text-success" %}
                                                {% else %}
                                                    {% set color = "text-danger" %}
                                                {% endif %}
                                                <td class="text-right {{ color }}">
                                                    {{ value }} €
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-block btn-primary btn-sm shadow-sm"
                                           href="{{ path("operation_list", {'eventId': event.id}) }}"
                                           role="button"><i class="fas fa-book-open"></i> {% trans %}compte{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if newEventButton is same as (true) %}
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card mt-2 mb-2">
                            <div class="card-body">
                                <p class="lead">{% trans %}Créez un nouvel évènement.{% endtrans %}</p>
                                <a class="btn btn-block btn-primary btn-lg"
                                   href="{{ path('event_create') }}"
                                   role="button"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card mt-2 mb-2">
                            <div class="card-body">
                                <p class="lead">{% trans %}Vous avez atteint le nombre maximum d'évènements autorisé.{% endtrans %}</p>
                                <a class="btn btn-block btn-secondary btn-lg disabled"
                                   href="" role="button">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
