{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des évènements de {{ user.name }}</h1>
    <ul>
        {% for userEvent in user.UserEvents if user.UserEvents|length > 0 %}
            <p><a href="{{ path("operation_list", {'eventId': userEvent.event.id}) }}">{{ userEvent.event.name }}</a>
                : {{ userEvent.event.description }}</p>
        {% else %}
            <p>aucun évènement</p>
        {% endfor %}
    </ul>
    <nav>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('user_list') }}">Liste des utilisateurs</a>
        <a href="{{ path('event_create', {'id': user.id}) }}">Créer un nouvel évènement</a>
    </nav>
{% endblock body %}
