{% extends 'base.html.twig' %}

{% block body %}
    <h2>Evènements</h2>
    <ul>
        {% for userEvent in user.userEvents if user.userEvents|length > 0 %}
            {% set event = userEvent.event %}
            <h3>
                <a href="{{ path("operation_list", {'eventId': event.id}) }}">{{ event.name }}</a>: {{ event.description }}
            </h3>
            <ul class="list-group">
                {% for userEvent2 in event.userEvents %}
                    {% set user2 = userEvent2.user %}
                    <li class="list-group-item">{{ user2.name }}{% if userEvent2.administrator is same as(true) %} (administrateur){% endif %}</li>
                {% endfor %}
                <a href="{{ path('event_add_user', {'eventId': userEvent.event.id, 'userId': user.id}) }}">Ajouter un
                    participant</a>
            </ul>
        {% else %}
            <p>aucun évènement</p>
        {% endfor %}
    </ul>
{% endblock body %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_list') }}">Liste des utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('event_create', {'id': user.id}) }}">Créer un nouvel évènement</a>
    </li>
{% endblock %}
