{% extends 'base.html.twig' %}

{% block body %}
    <h2>Nouveau participant pour {{ event.name }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-block btn-danger btn-lg" href="{{ path("event_list") }}"
               role="button">Cancel</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-block btn-success btn-lg">Save</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
