{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-2">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">
                        <img src="{{ asset('build/dichipot_logo_color.svg') }}" height="64"
                             class="d-inline-block align-top" alt="dichipot">
                    </h1>
                    <p class="lead text-center">Une solution simple pour partager les dépenses.</p>
                    <hr class="my-4">
                    <p>Cette application web vous permet de gérer des dépenses communes. Utile pour
                    <ul>
                        <li>les colocs,</li>
                        <li>les couples,</li>
                        <li>les amis ...</li>
                    </ul>
                    elle fonctionne aussi bien sur un mobile que sur une tablette ou un ordinateur de bureau.</p>
                    <div class="text-center">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-primary btn-lg" href="{{ path('event_list') }}" role="button">Mes
                                évènements</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="container mb-2">
                <h1 class="display-4">Simple</h1>
                <div class="card-deck">
                    <div class="card bg-light">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ asset('build/step1.png') }}" alt="Card image cap">
                            <h3 class="card-title mt-5">1. Créez</h3>
                            <p class="card-text"> Créez un évènement. Listez les participants.</p>
                        </div>
                    </div>
                    <div class="card bg-light">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ asset('build/step3.jpg') }}" alt="Card image cap">
                            <h3 class="card-title mt-5">2. Enregistrez</h3>
                            <p class="card-text">Tous les participants peuvent enregistrer des dépenses et effectuer la
                                répartion des paiements sur le groupe.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body bg-light">
                            <img class="card-img-top" src="{{ asset('build/step2.png') }}" alt="Card image cap">
                            <h3 class="card-title mt-5">3. Respirez</h3>
                            <p class="card-text">L'application maintient les comptes à jour. A tout moment chacun sait
                                "qui doit combien à qui".</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="container mb-2">
                <h1 class="display-4">Screenshots</h1>
                <p>Voici quelques screenshots pour se faire une idée de l'application.</p>
                <h4>Création d'un évènement</h4>
                <div class="row mb-2">
                    <div class="col-6 col-sm-4">
                        <img class="img-fluid" src="{{ asset('build/localhost_operation_create.png') }}"
                             alt="Création d'un évènement">
                    </div>
                    {% set text = "Tous les participants peuvent enregistrer des dépenses et effectuer la répartion des
                                    paiements sur le groupe.Tous les participants peuvent enregistrer des dépenses et
                                    effectuer
                                    la répartion des paiements sur le groupe.Tous les participants peuvent enregistrer
                                    des
                                    dépenses et effectuer la répartion des paiements sur le groupe." %}
                    <div class="col-6 col-sm-8">
                        <div class="row">
                            <div class="col-12">
                                <p>Pour créer un évènement on utilise la page suivante. de lui donner un nom et
                                    d'indiquer les pseudos et adresse email des participants.</p>
                            </div>
                            <div class="col-12 d-none d-sm-block">
                                <p>{{ text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-sm-none">
                    <p>{{ text }}</p>
                </div>
            </div>
            <hr class="col-12">
            <div class="container mb-2">
                <h1 class="display-4">Dashboard</h1>
                <p>Voici quelques informations sur la quantité d'information gérée par le site.</p>
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2">
                        <table class="table">
                            <tr>
                                <th style="width: 80%">Nombre de comptes</th>
                                <td class="text-right" style="width: 20%">{{ nbUser }}</td>
                            </tr>
                            <tr>
                                <th>Nombre d'évènements</th>
                                <td class="text-right" style="width: 20%">{{ nbEvent }}</td>
                            </tr>
                            <tr>
                                <th>Nombre d'opérations</th>
                                <td class="text-right" style="width: 20%">{{ nbOperation }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="col-12">
            <div class="container mb-2">
                <h1 class="display-4">Une dernière chose</h1>
                <p>Cette application est gratuite ... avec les limites suivantes pour chaque compte :
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2">
                        <table class="table">
                            <tr>
                                <th style="width: 80%">Evènements</th>
                                <td class="text-right" style="width: 20%">{{ freeLimit['maxNbEvent']['free'] }}</td>
                            </tr>
                            <tr>
                                <th>Participants par évènement</th>
                                <td class="text-right">{{ freeLimit['maxNbParticipant']['free'] }}</td>
                            </tr>
                            <tr>
                                <th>Opérations par évènement</th>
                                <td class="text-right">{{ freeLimit['maxNbOperation']['free'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p>Pour toutes questions ou suggestions vous pouvez contacter l'administrateur du site à
                    <a href="mailto:admin@dichipot.com">admin@dichipot.com</a>.</p>
                <p>Le code et la documentation technique sont disponible sur <a
                            href="https://github.com/PhRaz/dichipot">Github <i class="fab fa-github"></i></a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
