{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ event.name }}</h2>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Dépense</th>
        </tr>
        </thead>
        <tbody>
        {% set grand_total = 0 %}
        {% for operation in event.operations if event.operations|length > 0 %}
            <tr>
                <td>{{ operation.date|date('d/m/y') }}</td>
                <td>{{ operation.description }}</td>
                <td>{{ operation.category }}</td>
                <td>
                    {% set expense_total = 0 %}
                    {% for expense in operation.expenses if expense.amount > 0 %}
                        {% set expense_total = expense_total + expense.amount %}
                    {% endfor %}
                    {{ expense_total }}
                </td>
            </tr>
            {% set grand_total = grand_total + expense_total %}
        {% else %}
            <tr>
                <td colspan="4">aucune opération sur cet évènement</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <strong>{{ grand_total }}</strong>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_list') }}">Liste des utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("event_list", {'userId': event.userEvents[0].user.id}) }}">Liste des
            évènements
            de {{ event.userEvents[0].user.name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{{ path("operation_create", {'eventId': event.id, 'userId': event.userEvents[0].user.id}) }}">Créer une
            nouvelle opération</a>
    </li>
{% endblock %}
