{% extends 'base.html.twig' %}

{% form_theme form _self %}
{# Disable errors shown on form labels #}
{% block form_label_errors %}{% endblock form_label_errors %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3 mb-2">
            <h2>{% trans %}Modification opération{% endtrans %}</h2>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.description, {'attr': {'placeholder': 'description'|trans}} ) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-5">
                    {% trans %}Paiement{% endtrans %}
                </div>
                <div class="col-3">
                    {% trans %}Parts{% endtrans %}
                </div>
            </div>
            {% for expense in form.expenses %}
                <div class="form-group row">
                    <div class="col-form-label col-4">
                        <div>{{ form_label(expense.expense) }}</div>
                    </div>
                    <div class="col-5">
                        {{ form_widget(expense.expense) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(expense.payment) }}
                    </div>
                    <div class="col-8 offset-4">
                        {{ form_errors(expense.expense) }}
                        {{ form_errors(expense.payment) }}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-6">
                    <a id="cancel" class="btn btn-block btn-danger btn-lg"
                       href="{{ path("operation_list", {'eventId': operation.event.id}) }}"
                       role="button">{% trans %}Annule{% endtrans %}</a>
                </div>
                <div class="col-6">
                    <button id="submit" type="submit" class="btn btn-block btn-success btn-lg">{% trans %}Enregistre{% endtrans %}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
