{% extends 'base.html.twig' %}

{% form_theme form _self %}
{# Disable errors shown on form labels #}
{% block form_label_errors %}{% endblock form_label_errors %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2>Nouvelle opération</h2>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.description, {'attr': {'placeholder': 'description', 'autofocus': null}} ) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.category, {'attr': {'placeholder': 'catégorie'}} ) }}
                {{ form_errors(form.category) }}
            </div>
            <div class="row" id="line_help">
                <div class="col-12 shadow-sm">
                    <div style="cursor: pointer;" data-toggle="collapse" data-target="#help"
                         class="accordion-toggle">
                        <div class="row text-primary text-right">
                            <div class="col-12">Help</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-light mb-2">
                <div class="col-12 hidden">
                    <div class="accordion-body collapse small" id="help">
                        <div style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse" data-target="#help">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            Dans la colonne paiement
                                        </div>
                                        <div class="col-8">
                                            indiquez les paiement effectués par chacun des participants de cette
                                            opération.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Dans la colonne part
                                        </div>
                                        <div class="col-8">
                                            indiquez le nombre de parts dues par chaque participant.<br>
                                            A la place des parts, vous pouvez indiquer les sommes exactes en euros.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row font-weight-bold">
                <div class="col-4">
                </div>
                <div class="col-5">
                    Paiement
                </div>
                <div class="col-3">
                    Part
                </div>
            </div>
            {% for expense in form.expenses %}
                <div class="form-group row">
                    <div class="col-form-label col-4">
                        {{ form_label(expense.expense) }}
                    </div>
                    <div class="col-5">
                        {{ form_widget(expense.expense) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(expense.payment) }}
                    </div>
                    <div class="col-8 offset-4">
                        {{ form_errors(expense.expense) }}
                        {{ form_errors(expense.payment) }}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-6">
                    <a id="cancel" class="btn btn-block btn-danger btn-lg"
                       href="{{ path("operation_list", {'eventId': eventId}) }}"
                       role="button">Annule</a>
                </div>
                <div class="col-6">
                    <button id="submit" type="submit" class="btn btn-block btn-success btn-lg">Enregistre</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
