{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modification opération</h2>

    {{ form_start(form) }}

    {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}

    <div class="form-group row">
        <div class="col-4">
        </div>
        <div class="col-4">
            Dépenses
        </div>
        <div class="col-4">
            Paiements
        </div>
    </div>
    {% for userEvent in operation.event.userEvents %}
        <div class="form-group row">
            <div class="col-form-label col-4">
                <div>{{ userEvent.user.name }}</div>
            </div>
            <div class="col-4">
                {{ form_widget(form.expenses[loop.index0].amount) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.payments[loop.index0].amount) }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-block btn-danger btn-lg" href="{{ path("operation_list", {'eventId': operation.event.id}) }}"
               role="button">Cancel</a>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-block btn-success btn-lg">Save</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock body %}
