{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des opération de l'évènement {{ event.name }}</h1>
    <ul>
        {% for operation in event.operations if event.operations|length > 0 %}
            <li>{{ operation.date|date('d/m/y') }}
                <ul>{{ operation.description }}</ul>
                <ul>{{ operation.category }}</ul>
            </li>
        {% else %}
            <p>aucune opération sur cet évènement</p>
        {% endfor %}
    </ul>
    <nav>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('user_list') }}">Liste des utilisateurs</a>
        <a href="{{ path("event_list", {'userId': event.userEvents[0].user.id}) }}">Liste des évènements de {{ event.userEvents[0].user.name }}</a>
        <a href="{{ path("operation_create", {'eventId': event.id, 'userId': event.userEvents[0].user.id}) }}">Créer une nouvelle opération</a>
    </nav>
{% endblock body %}
