{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle opération</h1>

    {{ form_start(form) }}

    {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}

    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            Dépenses
        </div>
        <div class="col-sm-2">
            Paiements
        </div>
    </div>
    {% for userEvent in event[0].userEvents %}
        <div class="form-group row">
            <div class="col-form-label col-sm-2">
                <div>{{ userEvent.user.name }}</div>
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.expenses[loop.index0].amount) }}
            </div>
            <div class="col-sm-2">
                {{ form_widget(form.payments[loop.index0].amount) }}
            </div>
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Save</button>

    {{ form_end(form) }}

{% endblock body %}
