{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mb-2">
            <h2>{{ event.name }}</h2>
            <div class="row bg-light shadow-sm">
                <div class="col-3 col-md-2 font-weight-bold">Date</div>
                <div class="col-5 col-md-8 font-weight-bold">Description</div>
                <div class="col-4 col-md-2 font-weight-bold">Dépense</div>
            </div>
            {% for operation in event.operations if event.operations|length > 0 %}
                <div class="row" id="line_operation_{{ operation.id }}">
                    <div class="col-12 border-top shadow-sm">
                        <div style="cursor: pointer;text-decoration: none;" data-toggle="collapse" data-target="#operation_{{ operation.id }}"
                             class="accordion-toggle">
                            <div class="row text-primary">
                                <div class="col-3 col-md-2">{{ operation.date|date('d/m/y') }}</div>
                                <div class="col-5 col-md-8 text-truncate">{{ operation.description }}</div>
                                <div class="col-4 col-md-2 text-right text-nowrap">
                                    {{ operation.totalExpense|number_format('2', ',', ' ') }} €
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-12 hidden">
                        <div class="accordion-body collapse small" id="operation_{{ operation.id }}">
                            <div style="cursor: pointer;" class="accordion-toggle" data-toggle="collapse"
                                 data-target="#operation_{{ operation.id }}">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="font-weight-light">Opération enregistrée
                                            par {{ operation.pseudo }}
                                            dans {{ operation.category }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-right">Paiement</th>
                                                <th class="text-right">Dû</th>
                                                <th class="text-right">Balance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for data in operation.details %}
                                                {% if data.balance >= 0 %}
                                                    {% set color = "text-success" %}
                                                {% else %}
                                                    {% set color = "text-danger" %}
                                                {% endif %}
                                                <tr>
                                                    <th>{{ data.pseudo }}</th>
                                                    <td class="text-right text-nowrap">{{ data.expense|number_format('2', ',', ' ') }}
                                                        €
                                                    </td>
                                                    <td class="text-right text-nowrap">{{ data.amountToPay|number_format('2', ',', ' ') }}
                                                        €
                                                    </td>
                                                    <td class="text-right text-nowrap {{ color }}">{{ data.balance|number_format('2', ',', ' ') }}
                                                        €
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <a class="btn btn-block btn-danger btn-sm mb-2 shadow-sm"
                                       href="{{ path("operation_remove", {"operationId" : operation.id}) }}"
                                       role="button"><i class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-9">
                                    <a class="btn btn-block btn-primary btn-sm mb-2 shadow-sm"
                                       href="{{ path("operation_update", {'eventId': event.id, 'operationId': operation.id}) }}"
                                       role="button">Modification</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 border-top shadow-sm">aucune opération sur cet évènement</div>
                </div>
            {% endfor %}
            <div class="row mt-3">
                <div class="col-12">
                    {% if newOperationButton is same as (true) %}
                        <a class="btn btn-block btn-primary shadow-sm"
                           href="{{ path("operation_create", {'eventId': event.id}) }}"
                           role="button"><i class="fas fa-plus"></i></a>
                    {% else %}
                        <a class="btn btn-block btn-secondary disabled"
                           href=""
                           role="button"><i class="fas fa-plus"></i>
                            <p>Vous avez atteint le nombre maximum d'opérations autorisée.</p>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if event.operations|length > 0 %}
                <div class="row border mt-3 shadow-sm">
                    <div class="col-12 bg-light font-weight-bold">Total</div>
                    <div class="col-12 text-right border-top">
                        <strong>{{ event.grandTotal|number_format('2', ',', ' ') }} €</strong>
                    </div>
                    <div class="col-12 bg-light border-top border-bottom font-weight-bold">Balance</div>
                    {% for data in event.summary %}
                        {% if data.balance >= 0 %}
                            {% set color = "text-success" %}
                        {% else %}
                            {% set color = "text-danger" %}
                        {% endif %}
                        <div class="col-6">{{ data.pseudo }}</div>
                        <div class="col-6 {{ color }} text-right">
                            <strong>{{ data.balance|number_format('2', ',', ' ') }} €</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row mt-3">
                <div class="col-6">
                    <a class="btn btn-block btn-primary btn-lg"
                       href="{{ path("event_list") }}"
                       role="button"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="col-6">
                    {% if event.operations|length > 0 %}
                        <a class="btn btn-block btn-primary btn-lg"
                           href="{{ path("user_summary", {'eventId': event.id}) }}"
                           role="button"><i class="fas fa-user-check"></i></a>
                    {% else %}
                        <a class="btn btn-block btn-primary btn-lg disabled"
                           href="" role="button"><i class="fas fa-user-check"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
