{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2>Vérifiez vos comptes</h2>
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <h3>Votre bilan</h3>
            <table class="table table-sm table-borderless">
                <tr class="">
                    <td class="small">Pour cet évènement les participants ont payé un total de :</td>
                    <td class="text-nowrap text-right font-weight-bold">{{ event.grandTotal|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
                <tr class="">
                    <td class="small">Vous devez participer à hauteur de :</td>
                    <td class="text-nowrap text-right font-weight-bold">{{ event.summary[user.id].amountToPay|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
                <tr class="">
                    {% if event.summary[user.id].expense > 0 %}
                        <td class="small">Vous avez déjà payé un total de :</td>
                        <td class="text-nowrap text-right font-weight-bold">{{ event.summary[user.id].expense|number_format('2', ',', ' ') }}
                            €
                        </td>
                    {% endif %}
                </tr>
                <tr class="">
                    <td class="small">
                        {% set totalBalance = event.summary[user.id].balance %}
                        {% if totalBalance >= 0 %}
                            {% set color = "text-success" %}
                            Le groupe vous dois donc la somme de :
                        {% else %}
                            {% set color = "text-danger" %}
                            Vous devez donc au groupe la somme de :
                        {% endif %}
                    </td>
                    <td class="text-nowrap text-right font-weight-bold {{ color }}">{{ event.summary[user.id].balance|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
            </table>
            <h3>Détail de vos opérations</h3>
            <div class="row bg-light border-top">
                <div class="col-4 font-weight-bold small text-muted">Date</div>
                <div class="col-8 font-weight-bold small text-muted">Description</div>
            </div>
            <div class="row small">
                <div class="col-3 font-weight-bold text-right">Dépense</div>
                <div class="col-3 font-weight-bold text-right">Paiement</div>
                <div class="col-3 font-weight-bold text-right">Dû</div>
                <div class="col-3 font-weight-bold text-right">Balance</div>
            </div>
            {% for operation in event.operations if event.operations|length > 0 %}
                <div class="row  bg-light border-top">
                    <div class="col-4 small text-muted">
                        {{ operation.date|date('d/m/y') }}
                    </div>
                    <div class="col-8 small text-muted">
                        {{ operation.description }}
                    </div>
                </div>
                <div class="row small mt-1 mb-2">
                    <div class="col-3 text-right text-nowrap">
                        {{ operation.totalExpense|number_format('2', ',', ' ') }} €
                    </div>
                    {% if operation['details'][user.id] is defined %}
                        {% set expense = operation['details'][user.id].expense %}
                        {% if expense == 0 %}
                            {% set color = "text-muted" %}
                        {% else %}
                            {% set color = "text-dark" %}
                        {% endif %}
                        <div class="col-3 text-right text-nowrap {{ color }}">
                            {{ expense|number_format('2', ',', ' ') }} €
                        </div>
                        <div class="col-3 text-right text-nowrap">
                            {{ operation['details'][user.id].amountToPay|number_format('2', ',', ' ') }} €
                        </div>
                        {% set balance = operation['details'][user.id].balance %}
                        {% if balance >= 0 %}
                            {% set color = "text-success" %}
                        {% else %}
                            {% set color = "text-danger" %}
                        {% endif %}
                        <div class="col-3 text-right text-nowrap {{ color }}">
                            {{ balance|number_format('2', ',', ' ') }} €
                        </div>
                    {% else %}
                        <div class="col-3 text-right text-nowrap text-muted">
                            0,00 €
                        </div>
                        <div class="col-3 text-right text-nowrap text-muted">
                            0,00 €
                        </div>
                        <div class="col-3 text-right text-nowrap text-muted">
                            0,00 €
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row bg-light border-top">
                <div class="col-12 small text-muted">
                    Totaux
                </div>
            </div>
            <div class="row border-bottom small mt-1 mb-2">
                <div class="col-3 text-right font-weight-bold text-nowrap">
                    {{ event.grandTotal|number_format('2', ',', ' ') }} €
                </div>
                <div class="col-3 text-right font-weight-bold text-nowrap">
                    {{ event.summary[user.id].expense|number_format('2', ',', ' ') }} €
                </div>
                <div class="col-3 text-right font-weight-bold text-nowrap">
                    {{ event.summary[user.id].amountToPay|number_format('2', ',', ' ') }} €
                </div>
                {% set totalBalance = event.summary[user.id].balance %}
                {% if totalBalance >= 0 %}
                    {% set color = "text-success" %}
                {% else %}
                    {% set color = "text-danger" %}
                {% endif %}
                <div class="col-3 text-right font-weight-bold text-nowrap {{ color }}">{{ totalBalance|number_format('2', ',', ' ') }}
                    €
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a class="btn btn-block btn-primary btn-lg"
                       href="{{ path("operation_list", {'eventId': event.id}) }}"
                       role="button"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="col-6">
                    <a class="btn btn-block btn-primary btn-lg"
                       href="{{ path("user_summary_mail", {'eventId': event.id}) }}"
                       role="button"><i class="fas fa-share-square"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
