{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3 mb-2">
            <h2>{% trans %}Vérifiez vos comptes{% endtrans %}</h2>
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <h3>{% trans %}Votre bilan{% endtrans %}</h3>
            <table class="table table-sm table-borderless">
                <tr class="">
                    <td class="small">{% trans %}Pour cet évènement les participants ont payé un total de{% endtrans %} :</td>
                    <td class="text-nowrap text-right font-weight-bold">{{ event.grandTotal|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
                <tr class="">
                    <td class="small">{% trans %}Vous devez participer à hauteur de{% endtrans %} :</td>
                    <td class="text-nowrap text-right font-weight-bold">{{ event.summary[user.id].amountToPay|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
                <tr class="">
                    {% if event.summary[user.id].expense > 0 %}
                        <td class="small">{% trans %}Vous avez déjà payé un total de{% endtrans %} :</td>
                        <td class="text-nowrap text-right font-weight-bold">{{ event.summary[user.id].expense|number_format('2', ',', ' ') }}
                            €
                        </td>
                    {% endif %}
                </tr>
                <tr class="">
                    <td class="small">
                        {% set totalBalance = event.summary[user.id].balance %}
                        {% if totalBalance >= 0 %}
                            {% set color = "text-success" %}
                            {% trans %}Le groupe vous dois donc la somme de{% endtrans %} :
                        {% else %}
                            {% set color = "text-danger" %}
                            {% trans %}Vous devez donc au groupe la somme de{% endtrans %} :
                        {% endif %}
                    </td>
                    <td class="text-nowrap text-right font-weight-bold {{ color }}">{{ event.summary[user.id].balance|number_format('2', ',', ' ') }}
                        €
                    </td>
                </tr>
            </table>
            <h3>{% trans %}Détail de vos opérations{% endtrans %}</h3>
            <div class="row bg-light border-top">
                <div class="col-2 font-weight-bold">{% trans %}Date{% endtrans %}</div>
                <div class="col-4 font-weight-bold">{% trans %}Description{% endtrans %}</div>
                <div class="col-3 font-weight-bold text-right">{% trans %}Paiement{% endtrans %}</div>
                <div class="col-3 font-weight-bold text-right">{% trans %}Balance{% endtrans %}</div>
            </div>
            {% for operation in event.operations if event.operations|length > 0 %}
                <div class="row  small border-top">
                    <div class="col-2">
                        {{ operation.date|date('d/m/y') }}
                    </div>
                    <div class="col-4 text-truncate">
                        {{ operation.description }}
                    </div>
                    {% if operation['details'][user.id] is defined %}
                        {% set expense = operation['details'][user.id].expense %}
                        {% if expense == 0 %}
                            {% set color = "text-muted" %}
                        {% else %}
                            {% set color = "font-weight-bold" %}
                        {% endif %}
                        <div class="col-3 text-right text-nowrap {{ color }}">
                            {{ expense|number_format('2', ',', ' ') }} €
                        </div>
                        {% set balance = operation['details'][user.id].balance %}
                        {% if balance >= 0 %}
                            {% set color = "text-success" %}
                        {% else %}
                            {% set color = "text-danger" %}
                        {% endif %}
                        <div class="col-3 text-right text-nowrap {{ color }}">
                            {{ balance|number_format('2', ',', ' ') }} €
                        </div>
                    {% else %}
                        <div class="col-3 text-right text-nowrap text-muted">
                            0,00 €
                        </div>
                        <div class="col-3 text-right text-nowrap text-muted">
                            0,00 €
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row border-top">
                <div class="col-2 font-weight-bold ">
                    {% trans %}Totaux{% endtrans %}
                </div>
                <div class="col-4"></div>
                <div class="col-3 text-right font-weight-bold text-nowrap">
                    {{ event.summary[user.id].expense|number_format('2', ',', ' ') }} €
                </div>
                {% set totalBalance = event.summary[user.id].balance %}
                {% if totalBalance >= 0 %}
                    {% set color = "text-success" %}
                {% else %}
                    {% set color = "text-danger" %}
                {% endif %}
                <div class="col-3 text-right font-weight-bold text-nowrap {{ color }}">{{ totalBalance|number_format('2', ',', ' ') }}
                    €
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a class="btn btn-block btn-primary btn-lg"
                       href="{{ path("operation_list", {'eventId': event.id}) }}"
                       role="button"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="col-6">
                    <a class="btn btn-block btn-primary btn-lg"
                       href="{{ path("user_summary_mail", {'eventId': event.id}) }}"
                       role="button"><i class="fas fa-share-square"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

