{% block body %}
    <a href="{{ path('home') }}">retour vers menu</a>
    <h1>Liste des utilisateurs</h1>
    <ul>
        {% for user in users if user|length > 0 %}
            <li>{{ user.name }}
                <ul>
                    <li><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></li>
                    <li><a href="{{ path('event_list', {'user': user.id}) }}">liste des évènements</a></li>
                </ul>
            </li>
        {% else %}
            <p>aucun utilisateur</p>
        {% endfor %}
    </ul>
    <a href="{{ path("user_create") }}">Créer un utilisateur</a>
{% endblock body %}
